<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <table class="table table-striped col-lg-6 col-md-8 col-10">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Effectuée</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let toDoItem of toDoItems">
                    <td>{{ toDoItem.description }}</td>
                    <td>{{ toDoItem.done ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

